server:
  port: 8001

spring:
    datasource:
      driver-class-name: com.mysql.cj.jdbc.Driver
      url: jdbc:mysql://jjinppang-dev-rds.cvm6vdobp8wp.ap-northeast-2.rds.amazonaws.com:3306/jjinppang?serverTimezone=Asia/Seoul&useSSL=false&allowPublicKeyRetrieval=true
      username: jjinppang
      password: wlsqkd!!
    jpa:
      database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
      hibernate:
        ddl-auto: update
      properties:
        hibernate:
          format_sql: true
          use_sql_comments: true
          show_sql: false
          default_batch_fetch_size: 100
      open-in-view: false